<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item">
    <button mat-button mat-icon-button *ngIf="item.children" (click)="onCollapseExpand()">
      <mat-icon *ngIf="item.collapsed">keyboard_arrow_right</mat-icon>
      <mat-icon *ngIf="!item.collapsed">keyboard_arrow_down</mat-icon>
    </button>
    <span *ngIf="item.children==null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

    <mat-radio-button [checked]="item.checked" [disabled]="item.disabled"></mat-radio-button>
    <mat-checkbox [checked]="item.checked" [indeterminate]="item.indeterminate" [disabled]="item.disabled" (change)="item.checked = !item.checked;onCheckedChange()"></mat-checkbox>
    <label class="clickable" (click)="item.checked = !item.checked; onCheckedChange()">
      {{item.text}}
    </label>
  </div>
</ng-template>
<mat-radio-group>

  <ngx-treeview [itemTemplate]="itemTemplate" [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)">
  </ngx-treeview>
</mat-radio-group>