<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
      [class.fa-caret-down]="!item.collapsed"></i>
    <div class="form-check">
      <input type="checkbox" class="form-check-input"  (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"
        [indeterminate]="item.indeterminate" />
      <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
        {{item.text}}
      </label>
      <label class="form-check-label">
        <i class="fa fa-trash" aria-hidden="true" title="Remove" (click)="removeItem(item)"></i>
      </label>
    </div>
  </div>
</ng-template>

<ngx-treeview [itemTemplate]="itemTemplate" [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)">
</ngx-treeview>